@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  /* cursor: url(./images/cursor.png) 20 20, auto; */
}
a {
  /* cursor: url(./images/cursor.png) 15 15, auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* .will-change-transform {
  will-change: transform;
} */
.cursor {
  width: 90%;

  height: 80%;
  position: absolute;
  top: 10%;
  right: 0;
  animation: type 4s ease-out 0.8s infinite alternate both;

  /* will-change: opacity; */
}

@keyframes cursor {
  0%,
  40% {
    border-left: none;
  }

  60%,
  100% {
    border-left: white solid 4px;
  }
}
@keyframes type {
  0% {
    width: 0%;
  }
  0%,
  5% {
    width: 5%;
  }
  5%,
  10% {
    width: 10%;
  }
  10%,
  15% {
    width: 15%;
  }
  15%,
  20% {
    width: 20%;
  }
  20%,
  25% {
    width: 25%;
  }
  25%,
  30% {
    width: 30%;
  }
  30%,
  35% {
    width: 35%;
  }
  35%,
  40% {
    width: 40%;
  }
  40%,
  45% {
    width: 45%;
  }
  45%,
  50% {
    width: 50%;
  }
  50%,
  55% {
    width: 55%;
  }
  55%,
  60% {
    width: 60%;
  }
  60%,
  65% {
    width: 65%;
  }
  65%,
  70% {
    width: 70%;
  }
  70%,
  75% {
    width: 75%;
  }
  75%,
  80% {
    width: 80%;
  }
  80%,
  85% {
    width: 85%;
  }
  85%,
  90% {
    width: 90%;
  }
  90%,
  95% {
    width: 95%;
  }
  95%,
  100% {
    width: 100%;
  }
}

.timeline:hover {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;

  text-align: center;
}

.timeline:hover .date {
  border-right: none !important;
  border-bottom: 1px solid red;
  animation: rotateDate 3s forwards;
}
@keyframes rotateDate {
  0% {
    left: -200px;
    top: 100px;
  }

  20% {
    left: -200px;
    top: 0;
  }
  40% {
    left: 0;
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.timeline:hover .desc {
  font-size: 20px;
}
